/node_modules
/public/hot
/public/storage
/vendor
vendor.zip
.env.backup
.phpunit.result.cache
/.idea
/.vscode
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
mega_turbo_import.py
convert_streams_direct.py
